_site
.sass-cache
.jekyll-metadata
*.DS_Store
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kandapagari.github.io.iml
.idea/modules.xml
.idea/vcs.xml
.idea/785pavan.github.io.iml
